.oculto {

    display: none;


}
.principal {

   background-image: url('https://cdn.pixabay.com/photo/2017/04/05/04/44/background-2203989_960_720.jpg');
  
}


/*#integrantes-creados {

    display: grid;
    
    grid-template-rows: auto;

    


 }   



 

 #etiqueta{

   display: grid;
    
    grid-template-rows: auto;

    width: 50px;

 }
 */